.prep-time{
   background-color: rgb(249, 241, 249);
   border: 1rem; 
   padding: 1.2rem;
   border-radius: 1rem;
}

div>h3,div>h1{
    color: rgb(157, 92, 8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

div>h4{
    color: rgb(157, 8, 97);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

div>p,div>ul>li,div>ol>li, td{
    color: rgb(94, 92, 92);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}


